@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Inter', sans-serif;
  --font-mono: 'Inter', monospace;
}

body {
  margin: 0;
  background: #fafafa;
  color: #111827;
  font-family: 'Inter', sans-serif;
}